//META{	"name": "Discord Dark",	"description": "A Dark Theme for Discord, Inspired by Github Dark",	"author": "SyndiShanX#4620",	"version": "1.15", "website": "https://syndishanx.github.io/Website/Downloads/Downloads.html",	"source": "https://github.com/SyndiShanX/Discord-Dark"}*//{}
/*

  Discord Dark
	
  -+ Maintained by: SyndiShanX
  -+ Inspired by: Github Dark
  -+ This Theme is meant to be used with Discord Dark Mode

  Website : https://github.com/SyndiShanX/Discord-Dark

/*###################################################################################################*/

/* IMPORT CSS */
@import url(https://syndishanx.github.io/Website/Downloads/Misc/Discord-Dark.css);

:root {
	--scrollbar-thin-thumb: rgba(55, 55, 55, 0.5);
	--scrollbar-thin-track: rgba(0, 0, 0, 0.5);
	--scrollbar-auto-thumb: rgba(55, 55, 55, 0.5);
	--scrollbar-auto-track: rgba(0, 0, 0, 0.5);
	--scrollbar-auto-scrollbar-color-thumb: rgba(55, 55, 55, 0.5);
	--scrollbar-auto-scrollbar-color-track: rgba(0, 0, 0, 0.5);
	--background-primary: rgba(0, 0, 0, 0.45);
	--main-blue: #224466;
	--main-blue-light: #3973ac;
	--main-blue-light-alt: #4080bf;
	--main-green: #498947;
	--main-red: #712828;
	--main-purple: #4e377b;
	--main-dark: #181818;
	--main-light: #484848;
	--bgImage: url("https://i.imgur.com/7D3DhP9.png");
	--bgDarkImage: url("https://i.imgur.com/hO2BRdw.png");
	--bgDarkerImage: url("https://i.imgur.com/8L0xcrM.png")
}

/*==  WINDOWS  ==*/
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(2)::before{background:url("https://i.imgur.com/MG0SlS6.png") center}  /* Account       */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(3)::before{background:url("https://i.imgur.com/Hxr6XE6.png") center}  /* Privacy       */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(4)::before{background:url("https://i.imgur.com/v8XNeCE.png") center}  /* Apps          */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(5)::before{background:url("https://i.imgur.com/QcEw49t.png") center}  /* Connections   */
																																																																											  
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(8)::before{background:url("https://i.imgur.com/GUM6KPG.png") center}  /* Nitro         */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(9)::before{background:url("https://i.imgur.com/L3IaYx0.png") center}  /* Boost         */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(10)::before{background:url("https://i.imgur.com/jUKQQBL.png") center} /* Gift          */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(11)::before{background:url("https://i.imgur.com/9rKkZBO.png") center} /* Billing       */
																																																																											  
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(14)::before{background:url("https://i.imgur.com/9DG8oPZ.png") center} /* Voice         */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(15)::before{background:url("https://i.imgur.com/cg4bgyb.png") center} /* Text          */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(16)::before{background:url("https://i.imgur.com/jxzraCc.png") center} /* Appearance    */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(17)::before{background:url("https://i.imgur.com/FoSUr1I.png") center} /* Notifications */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(18)::before{background:url("https://i.imgur.com/351ppjR.png") center} /* Keybinds      */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(19)::before{background:url("https://i.imgur.com/Yyx3xbv.png") center} /* Language      */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(20)::before{background:url("https://i.imgur.com/8CCah5s.png") center} /* Windows       */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(21)::before{background:url("https://i.imgur.com/sT2drKP.png") center} /* Streamer      */
																																																																											  
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(24)::before{background:url("https://i.imgur.com/pdfXYSO.png") center} /* Game Activity */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(25)::before{background:url("https://i.imgur.com/Ll8CCqv.png") center} /* Game Overlay  */
																																																																											  
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(27)::before{background:url("https://i.imgur.com/J9FePqr.png") center} /* Changelog     */
.platform-win #user-settings .side-8zPYf6 .item-PXvHYJ:nth-child(28)::before{background:url("https://i.imgur.com/TcHEd0d.png") center} /* Hype Squad    */
																																																																											  
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-header:nth-child(2)::before{background:url("https://i.imgur.com/30cqxll.png") center}    /* BandagedBD    */
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(3)::before{background:url("https://i.imgur.com/cdn4BUy.png") center}      /* Settings      */
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(4)::before{background:url("https://i.imgur.com/hyd9oGX.png") center}      /* Emotes        */
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(5)::before{background:url("https://i.imgur.com/F5hOuYW.png") center}      /* Plugins       */
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(6)::before{background:url("https://i.imgur.com/DFYxY1Z.png") center}      /* Themes        */
.side-8zPYf6 #bd-settings-sidebar .ui-tab-bar-item:nth-child(7)::before{background:url("https://i.imgur.com/zdD427V.png") center}      /* CSS           */
						
.side-8zPYf6 .item-PXvHYJ:nth-child(31)::before{background:url("https://i.imgur.com/jXLQ5P4.png") center} /* Log Out       */

/*==  WINDOWS BD BETA  ==*/

.side-8zPYf6 .item-PXvHYJ:nth-child(2)::before{background:url("https://i.imgur.com/MG0SlS6.png") center}  /* Account       */
.side-8zPYf6 .item-PXvHYJ:nth-child(3)::before{background:url("https://i.imgur.com/Hxr6XE6.png") center}  /* Privacy       */
.side-8zPYf6 .item-PXvHYJ:nth-child(4)::before{background:url("https://i.imgur.com/v8XNeCE.png") center}  /* Apps          */
.side-8zPYf6 .item-PXvHYJ:nth-child(5)::before{background:url("https://i.imgur.com/QcEw49t.png") center}  /* Connections   */
																																																												  
.side-8zPYf6 .item-PXvHYJ:nth-child(8)::before{background:url("https://i.imgur.com/GUM6KPG.png") center}  /* Nitro         */
.side-8zPYf6 .item-PXvHYJ:nth-child(9)::before{background:url("https://i.imgur.com/L3IaYx0.png") center}  /* Boost         */
.side-8zPYf6 .item-PXvHYJ:nth-child(10)::before{background:url("https://i.imgur.com/jUKQQBL.png") center} /* Gift          */
.side-8zPYf6 .item-PXvHYJ:nth-child(11)::before{background:url("https://i.imgur.com/9rKkZBO.png") center} /* Billing       */
																																																												  
.side-8zPYf6 .item-PXvHYJ:nth-child(14)::before{background:url("https://i.imgur.com/9DG8oPZ.png") center} /* Voice         */
.side-8zPYf6 .item-PXvHYJ:nth-child(15)::before{background:url("https://i.imgur.com/cg4bgyb.png") center} /* Text          */
.side-8zPYf6 .item-PXvHYJ:nth-child(16)::before{background:url("https://i.imgur.com/jxzraCc.png") center} /* Appearance    */
.side-8zPYf6 .item-PXvHYJ:nth-child(17)::before{background:url("https://i.imgur.com/FoSUr1I.png") center} /* Notifications */
.side-8zPYf6 .item-PXvHYJ:nth-child(18)::before{background:url("https://i.imgur.com/351ppjR.png") center} /* Keybinds      */
.side-8zPYf6 .item-PXvHYJ:nth-child(19)::before{background:url("https://i.imgur.com/Yyx3xbv.png") center} /* Language      */
.side-8zPYf6 .item-PXvHYJ:nth-child(20)::before{background:url("https://i.imgur.com/8CCah5s.png") center} /* Windows       */
.side-8zPYf6 .item-PXvHYJ:nth-child(26)::before{background:url("https://i.imgur.com/sT2drKP.png") center} /* Streamer      */
																																																												  
.side-8zPYf6 .item-PXvHYJ:nth-child(29)::before{background:url("https://i.imgur.com/pdfXYSO.png") center} /* Game Activity */
.side-8zPYf6 .item-PXvHYJ:nth-child(30)::before{background:url("https://i.imgur.com/Ll8CCqv.png") center} /* Game Overlay  */
																																																												  
.side-8zPYf6 .item-PXvHYJ:nth-child(32)::before{background:url("https://i.imgur.com/J9FePqr.png") center} /* Changelog     */
.side-8zPYf6 .item-PXvHYJ:nth-child(33)::before{background:url("https://i.imgur.com/TcHEd0d.png") center} /* Hype Squad    */
																																																																											  
.side-8zPYf6 .item-PXvHYJ:nth-child(22)::before{background:url("https://i.imgur.com/30cqxll.png") center} /* BandagedBD    */
.side-8zPYf6 .item-PXvHYJ:nth-child(23)::before{background:url("https://i.imgur.com/cdn4BUy.png") center} /* Settings      */
.side-8zPYf6 .item-PXvHYJ:nth-child()::before{background:url("https://i.imgur.com/hyd9oGX.png") center}   /* Emotes        */
.side-8zPYf6 .item-PXvHYJ:nth-child(24)::before{background:url("https://i.imgur.com/F5hOuYW.png") center} /* Plugins       */
.side-8zPYf6 .item-PXvHYJ:nth-child(25)::before{background:url("https://i.imgur.com/DFYxY1Z.png") center} /* Themes        */
.side-8zPYf6 .item-PXvHYJ:nth-child()::before{background:url("https://i.imgur.com/zdD427V.png") center}   /* CSS           */
																																																																											  
.side-8zPYf6 .item-PXvHYJ:nth-child(35)::before{background:url("https://i.imgur.com/jXLQ5P4.png") center} /* Log Out       */