#app-mount .background_c54132 {
	background-color: var(--background-primary);
}

/* Card */
.mainCard_f369db, .card_d4f6c7, .container__29699, .container_c68a2c {
	background-color: var(--background-secondary);
	border-radius: 8px;
}

.icon_ac2d0d {
	border-color: var(--background-secondary);
	background-color: var(--background-secondary);
}

.mainCard_f369db h3 {
	font-family: var(--font-display);
	font-size: 16px;
	line-height: 20px;
}

/* Form */
.mainCard_f369db.header-1Uy0p6:hover {
	border-color: transparent;
}

.mainCard_f369db form textarea, .mainCard_f369db form textarea::placeholder {
	font-size: 16px;
	line-height: 26px;
}

.mainCard_f369db .pill_a2c9e8 {
	background-color: var(--background-tertiary);
}

.mainCard_f369db .dots_faa96b {
	border-color: var(--background-secondary);
}

/* Sidebar */
.container__01ae2 .container__7e6bb h3 {
	font-family: var(--font-display);
	font-size: 28px;
	line-height: 32px;
}

.container__01ae2 .container__7e6bb .iconWrapper__7e6bb {
	margin-top: 0;
}