/* Revert App Tag to Bot - Dav */
.botTag_a9e77f:not(.botTagAI_a9e77f, .botTagOP_a9e77f, .botTagRemix_a9e77f, .decorator_c91bad) .botText_a9e77f {
  font-size: 0 !important;
  line-height: 0 !important;
}

.botTag_a9e77f:not(.botTagAI_a9e77f, .botTagOP_a9e77f, .botTagRemix_a9e77f, .decorator_c91bad) .botText_a9e77f:before {
  content: "Bot";
  font-size: 0.625rem;
  line-height: 1.3;
}