:root {
  --server-unread-colour: 255, 255, 255!important;
  --server-hover-colour: 255, 255, 255!important;
  --server-selected-colour: var(--accent, 0, 231, 169)!important;
  --server-spacing: 16px!important;
  --server-glow-intensity: 1!important;
}

#app-mount .wrapper_ed1dea ul[role=group] {
  height: auto!important;
}
#app-mount .scroller__3d071 > div[style]:not([class]) {
  margin-bottom: var(--server-spacing)!important;
}
#app-mount .listItem_fa7b36 {
  width: 100%!important;
  margin-bottom: var(--server-spacing)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] {
  left: 50%!important;
  top: 50%!important;
  transform: translate(-50%, -50%)!important;
  width: calc(var(--server-size, 48px) + 8px)!important;
  height: calc(var(--server-size, 48px) + 8px)!important;
  overflow: visible!important;
  margin-left: -2px!important;
}
#app-mount .listItem_fa7b36 [class*=pill] .item_f9d377 {
  height: 100%!important;
  width: 100%!important;
  margin: 0!important;
  border-radius: var(--server-roundness, 50%)!important;
  background: transparent!important;
  border: 2px solid transparent!important;
  box-shadow: none!important;
  transform: none!important;
  transition: var(--transition)!important;
  transition-property: box-shadow!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 0"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-unread-colour), 0.25)!important;
  border-color: rgb(var(--server-unread-colour))!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 1"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-unread-colour), 0.25)!important;
  border-color: rgb(var(--server-unread-colour))!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 2"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-unread-colour), 0.25)!important;
  border-color: rgb(var(--server-unread-colour))!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 3"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-unread-colour), 0.25)!important;
  border-color: rgb(var(--server-unread-colour))!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 4"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-unread-colour), 0.25)!important;
  border-color: rgb(var(--server-unread-colour))!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 5"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-unread-colour), 0.25)!important;
  border-color: rgb(var(--server-unread-colour))!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 6"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-unread-colour), 0.25)!important;
  border-color: rgb(var(--server-unread-colour))!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 7"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-unread-colour), 0.25)!important;
  border-color: rgb(var(--server-unread-colour))!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 8"] {
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-unread-colour), 0.25)!important;
  border-color: rgb(var(--server-unread-colour))!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 9"] {
  border-color: rgb(var(--server-hover-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-hover-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 10"] {
  border-color: rgb(var(--server-hover-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-hover-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 11"] {
  border-color: rgb(var(--server-hover-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-hover-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 12"] {
  border-color: rgb(var(--server-hover-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-hover-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 13"] {
  border-color: rgb(var(--server-hover-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-hover-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 14"] {
  border-color: rgb(var(--server-hover-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-hover-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 15"] {
  border-color: rgb(var(--server-hover-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-hover-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 16"] {
  border-color: rgb(var(--server-hover-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-hover-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 17"] {
  border-color: rgb(var(--server-hover-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-hover-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 18"] {
  border-color: rgb(var(--server-hover-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-hover-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 19"] {
  border-color: rgb(var(--server-hover-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-hover-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 20"] {
  border-color: rgb(var(--server-hover-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-hover-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 21"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 22"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 23"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 24"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 25"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 26"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 27"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 28"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 29"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 30"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 31"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 32"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 33"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 34"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 35"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 36"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 37"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 38"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 39"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .listItem_fa7b36 [class*=pill] span[style*="height: 40"] {
  transform: scale(1)!important;
  border-color: rgb(var(--server-selected-colour))!important;
  box-shadow: 0 0 calc(var(--server-glow-intensity) * 15px) calc(var(--server-glow-intensity) * 5px) rgb(var(--server-selected-colour), 0.25)!important;
}
#app-mount .blobContainer__5ee50,
#app-mount .listItemWrapper__1f93b {
  transition: var(--transition, 0.15s ease)!important;
  transition-property: transform!important;
}
#app-mount .blobContainer__5ee50:active,
#app-mount .listItemWrapper__1f93b:active {
  transform: scale(0.9)!important;
}
#app-mount .svg_ad7356 foreignObject {
  border-radius: var(--server-roundness, 50%)!important;
  -webkit-mask: none!important;
          mask: none!important;
}